.user-message {
  display: flex;
  justify-content: end;
  align-items: center;
}
.robot-message {
  display: flex;
  justify-content: start;
  align-items: center;
}
.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 300px;
}
.chat-message-profile {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  object-fit: cover;
}
.chat-message-time{
  font-size: 12px;
  color: gray;
  margin-bottom: 0;
  margin-top: 5px;
}